.featured{
    height: 250px;
}

img {
    object-fit: cover;
    height: 800px;
    width: 100%;
}

.text-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 150px; /* içerik ve kenar çubuğu arasında boşluk sağlar */
}
