<carousel [isAnimated]="true">
    <slide>
        <img src="assets/images/hero1.png" alt="slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/hero2.png" alt="slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/hero3.png" alt="slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/hero4.png" alt="slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/hero5.png" alt="slide" style="display: block; width: 100%;">
    </slide>
</carousel>

<div class="d-flex justify-content-center pt-4 mt-5">
    <h3>The Address of Quality Shopping with the Best Price Guarantee</h3>
    <br><br><br>
</div>
<div class="text-container " style="margin: auto;">
    <p>We not only offer our customers the highest quality products, but also guarantee the best prices. We have your
        budget in mind when you shop and we offer you the best prices, always keeping in mind the competitive prices in
        the industry. Compare our products with similar products on the market and see the price difference for
        yourself!
        Fast and Reliable Shipping/Shipping

        When shopping with us, you can be sure that your orders will arrive quickly and safely at your doorstep. All
        your orders are carefully packaged and shipped in cooperation with leading cargo companies. Moreover, above a
        certain number of desi and products, you can use our shipping system to provide you with a better quality
        transportation route! You can easily track every step of your order and know that your order is safely on its
        way while you enjoy your shopping.

        100% Secure Shopping Experience

        The safety and satisfaction of our customers is always our top priority. Our website protects all your personal
        information and payment transactions by encrypting them. Secure payment options include credit card, debit card
        and payment at the door alternatives. You just focus on your shopping, we take care of the rest.</p>
</div>