<div class="container mt-5">

    <div class="d-flex justify-content-center pt-4 mt-5" *ngIf="(basketService.basketSource$ | async) === null">
        <h3>There are no items in your basket</h3>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

    <ng-container *ngIf="(basketService.basketSource$ | async) as basket">
        <div class="container">
            <div class="row">
                <app-basket-summary
                    (addItem)="incrementQuantity($event)"
                    (removeItem)="removeItem($event)"
                ></app-basket-summary>
            </div>

            <div class="row">
                <div class="col-6 offset-6">
                    <app-order-totals></app-order-totals>
                    <div class="d-grid">
                        <a routerLink="/checkout" class="btn btn-outline-primary py-2 mb-5">
                            Proceed to checkout
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </ng-container>

</div>
