<br><br>


<div class="text-container " style="margin: auto;">
    <p>Sakarya Home was established in Sakarya in 2023 and today it has many materials that may be
        needed during construction such as timber, panels, Ytong, bricks, roofing materials, insulation materials, pipes
        and installation materials, paint and decoration materials, hardware materials, construction chemicals,
        chandeliers, plasters, cement.</p>

    <p>As Sakarya Home, we are happy to serve our customers in the best way. We undertake the task of
        carrying out the trade of construction materials, which we have been physically trading for years, with the same
        meticulousness in the digital world and we aim to meet the needs of our customers. Being aware of the importance
        of e-commerce in the changing and developing world, we wish to be the pioneer of this issue in the construction
        sector and to spread the shopping of construction materials in the digital environment together with our
        customers.</p>

    <p>In this process, we always prioritize customer satisfaction and quality service. We strive to contribute to
        sustainable construction projects with our innovative and environmentally friendly product options. We also aim
        to offer our customers the most up-to-date and effective solutions by closely following the latest technological
        developments in the sector.</p>

    <p>We attach great importance to one-to-one communication in order to understand the unique needs of each of our
        customers and offer them the most suitable solutions. Through our website and digital channels, we strive to
        make shopping experiences easy and enjoyable by providing fast and effective answers to our customers'
        questions.</p>

    <p>We would like to thank all our customers and wish them a pleasant shopping experience. As Sakarya Home, we are
        proud to serve you in the field of construction materials and we aim to maintain our
        leadership in this sector for many years.</p>
</div>

<br><br>
<carousel [isAnimated]="true">
    <slide>
        <img src="assets/images/sakaryahome.png" alt="slide">
    </slide>
    <slide>
        <img src="assets/images/chandelier.png" alt="slide">
    </slide>
    <slide>
        <img src="assets/images/tiles.png" alt="slide">
    </slide>
    <slide>
        <img src="assets/images/furniture.png" alt="slide">
    </slide>

</carousel>


<div class="d-flex justify-content-center pt-4 mt-5">
    <h3>Contact Us</h3>
    <br><br>
</div>

<div class="text-container">
    <p>We are located in Sakarya University Campus at Sakarya if you want more detail <a href="/contact">Click here!</a>
    </p>

</div>