<div class="contact-container mt-3">
  <div class="contact-details">
    <div class="details" style="display: flex; flex-direction: column; height: 500px; justify-content: space-between; background-color: #333; color: white; padding: 20px; box-sizing: border-box;">
    
        <div style="flex: 1; border-bottom: 1px solid grey; padding-bottom: 20px; margin-bottom: 20px;">
            <div style="display: flex; justify-content: space-between;">
                
                <div style="width: 50%; border-right: 1px solid grey; padding-right: 20px;">
                    <br>
                    <h3 style="text-align: center;">E-MAIL</h3>
                    <br>
                    <p style="text-align: center;">kerim.kurt@ogr.sakarya.edu.tr</p>
                    <p style="text-align: center;">hakan.yilmaz15@ogr.sakarya.edu.tr</p>
                </div>
    
                <div style="width: 50%; padding-left: 20px;">
                    <br>
                    <h3 style="text-align: center;">CALL US</h3>
                    <br>
                    <p style="text-align: center;">+90 (535) 067 63 25</p>
                    <p style="text-align: center;">+90 (537) 617 37 99</p>
                </div>
            </div>
        </div>
    
        <div style="flex: 1; display: flex; justify-content: center;">
            <div style="text-align: center;">
                <br>
                <h3>ADDRESS</h3>
                <br>
                <p>Computer and Informations Science Faculty, Sakarya University SAKARYA/TURKIYE</p>
            </div>
        </div>
    </div>
    
  </div>
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d386944.4242518965!2d30.22678963274491!3d40.73734997276536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ccaded70ee240b%3A0xd81085b5551312fd!2sBilgisayar%20Ve%20Bili%C5%9Fim%20Bilimleri%20Fak%C3%BCltesi!5e0!3m2!1str!2str!4v1704115552181!5m2!1str!2str" width="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>


